
:root {
    --background: #fff;
    --links:#3183FF;
    --title-color: #333;
    --paragraph-color: #666;
}

[data-theme="dark"] {
    --background: #333;
    --links:#3183FF;
    --title-color: #fff;
    --paragraph-color: #fff;
}
  
a {
    color: var(--links);
    text-decoration: underline;
}

p {
    color: var(--paragraph-color);
}

body {
    background: var(--background);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

section {
    margin-bottom: 32px;
}

h1 {
    color: var(--title-color);
    font-weight: normal;
    font-size: 64px;
    line-height: 77px;
}

h1 span {
    font-weight: bold;
    color: var(--links);
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 48px;
        line-height: 58px;
    }
}

header {
    margin-bottom: 64px;
}

header p {
    font-size: 20px;
    line-height: 28px;
}

h2 {
    color: var(--title-color);
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 48px;
}

.list-item {
    border-bottom: 1px dashed var(--paragraph-color);
    margin-bottom: 16px;
}

.list-item.borderless {
    border-bottom: 0;
}

.list-item p {
    color: var(--paragraph-color);
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin: 8px;
}

.list-item h3 {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--title-color);
    border: 1px solid var(--title-color);
    border-radius: 4px;
    padding: 8px;
}

.list-item ul {
    color: var(--paragraph-color);
    font-size: 16px;
    line-height: 24px;
    list-style: none;
    padding: 0;
}

.topbar {
    padding: 8px 0;
    margin-bottom: 64px;
}

.ending {
    margin-bottom: 64px;
}


/* --------------------------------------- */

.theme-switch-wrapper {
    display: flex;
    align-items: center;
}

.theme-switch-wrapper em {
    margin-left: 10px;
    font-size: 1rem;
}

.theme-switch {
    margin-bottom: 0;
    display: inline-block;
    height: 34px;
    position: relative;
    width: 64px;
}

.theme-switch input {
    display:none;
}

.slider {
    background-color: var(--background);
    border: 1px solid var(--title-color);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    content: "Dark";
    transition: .4s;
    color: var(--title-color);
}

input:checked + .slider {
    background-color: var(--title-color);
}

input:checked + .slider:before {
    transform: translateX(30px);
    content: "Light";
}

.slider.round {
    border-radius: 4px;
}

.slider.round:before {
    border-radius: 0;
}
